<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net45" />
  <package id="rda.SocketsForPCL" version="2.0.2" targetFramework="net45" />
  <package id="WaveEngine" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Adapter" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Box2D" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Common" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Components" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Framework" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.ImageEffects" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Materials" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.VisualTest" version="2.4.0.34" targetFramework="net45" />
</packages>