._.DS_Store
.DS_Store

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/

18/

build_package/


[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

packages/

Intermediate/
