<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WaveEngine" version="1.9.11-beta-4" targetFramework="net45" />
  <package id="WaveEngine.Adapter" version="1.9.11-beta-4" targetFramework="net45" />
  <package id="WaveEngine.Common" version="1.9.11-beta-4" targetFramework="net45" />
  <package id="WaveEngine.Components" version="1.9.11-beta-4" targetFramework="net45" />
  <package id="WaveEngine.Framework" version="1.9.11-beta-4" targetFramework="net45" />
  <package id="WaveEngine.ImageEffects" version="1.9.11-beta-4" targetFramework="net45" />
  <package id="WaveEngine.Materials" version="1.9.11-beta-4" targetFramework="net45" />
  <package id="WaveEngine.Spine" version="1.9.11-alpha-20150818-50" targetFramework="net45" />
</packages>