<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WaveEngine" version="2.0.5-alpha-20160128-157" targetFramework="Xamarin.iOS" />
  <package id="WaveEngine.Adapter" version="2.0.5-alpha-20160128-157" targetFramework="Xamarin.iOS" />
  <package id="WaveEngine.Cardboard" version="2.0.5-alpha-20160128-157" targetFramework="xamarinios10" />
  <package id="WaveEngine.Common" version="2.0.5-alpha-20160128-157" targetFramework="Xamarin.iOS" />
  <package id="WaveEngine.Components" version="2.0.5-alpha-20160128-157" targetFramework="Xamarin.iOS" />
  <package id="WaveEngine.Framework" version="2.0.5-alpha-20160128-157" targetFramework="Xamarin.iOS" />
  <package id="WaveEngine.Materials" version="2.0.5-alpha-20160128-157" targetFramework="Xamarin.iOS" />
</packages>