<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WaveEngine.Common" publicKeyToken="6e72eaf7d6c3c55b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.11.38" newVersion="1.9.11.38" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WaveEngine.Framework" publicKeyToken="6e72eaf7d6c3c55b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.11.38" newVersion="1.9.11.38" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WaveEngine.Materials" publicKeyToken="6e72eaf7d6c3c55b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.11.38" newVersion="1.9.11.38" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>