<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WaveEngine.Adapter" version="1.9.12-beta-6" targetFramework="Mono" />
  <package id="WaveEngine.Common" version="1.9.12-beta-6" targetFramework="Mono" />
  <package id="WaveEngine.Components" version="1.9.12-beta-6" targetFramework="Mono" />
  <package id="WaveEngine.Framework" version="1.9.12-beta-6" targetFramework="Mono" />
  <package id="WaveEngine.Materials" version="1.9.12-beta-6" targetFramework="Mono" />
  <package id="WaveEngine.ImageEffects" version="1.9.12-beta-6" targetFramework="Mono" />
  <package id="WaveEngine" version="1.9.12-beta-6" targetFramework="Mono" />
  <package id="WaveEngine.Spine" version="1.9.12-beta-6" targetFramework="Mono" />
</packages>