<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WaveEngine" version="2.0.7-alpha-20160323-204" targetFramework="MonoAndroid" />
  <package id="WaveEngine.Adapter" version="2.0.7-alpha-20160323-204" targetFramework="MonoAndroid" />
  <package id="WaveEngine.Common" version="2.0.7-alpha-20160323-204" targetFramework="MonoAndroid" />
  <package id="WaveEngine.Components" version="2.0.7-alpha-20160323-204" targetFramework="MonoAndroid" />
  <package id="WaveEngine.Framework" version="2.0.7-alpha-20160323-204" targetFramework="MonoAndroid" />
  <package id="WaveEngine.ImageEffects" version="2.0.7-alpha-20160323-204" targetFramework="MonoAndroid" />
  <package id="WaveEngine.Materials" version="2.0.7-alpha-20160323-204" targetFramework="MonoAndroid" />
  <package id="WaveEngine.Social" version="2.0.7-alpha-20160323-204" targetFramework="monoandroid403" />
</packages>