<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WaveEngine" version="2.1.0.24" targetFramework="MonoAndroid403" />
  <package id="WaveEngine.Adapter" version="2.1.0.24" targetFramework="MonoAndroid403" />
  <package id="WaveEngine.Common" version="2.1.0.24" targetFramework="MonoAndroid403" />
  <package id="WaveEngine.Components" version="2.1.0.24" targetFramework="MonoAndroid403" />
  <package id="WaveEngine.Dolby" version="2.1.0.24" targetFramework="MonoAndroid403" />
  <package id="WaveEngine.Framework" version="2.1.0.24" targetFramework="MonoAndroid403" />
  <package id="WaveEngine.Materials" version="2.1.0.24" targetFramework="MonoAndroid403" />
</packages>