<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WaveEngine.Adapter" version="2.0.4.20" targetFramework="net45" />
  <package id="WaveEngine.Common" version="2.0.4.20" targetFramework="net45" />
  <package id="WaveEngine.Components" version="2.0.4.20" targetFramework="net45" />
  <package id="WaveEngine.Framework" version="2.0.4.20" targetFramework="net45" />
  <package id="WaveEngine.Materials" version="2.0.4.20" targetFramework="net45" />
  <package id="WaveEngine" version="2.0.4.20" targetFramework="net45" />
  <package id="WaveEngine.ImageEffects" version="2.0.4.20" targetFramework="net45" />
</packages>